body {
    margin: 0;
    padding: 0;
    
    overflow-x:hidden;
    overflow-y:scroll;
    
    cursor: none; 
    
    color:yellow;
    background:red;
    
    font-family: sans-serif;
    font-size:40px;
}

* {
    box-sizing:border-box;
    transition: 0s;
    word-break: break-word;
    hyphens: auto;
    
    font-family:sans-serif;
    font-size:1em;
}

/*TEXT STYLING*/
.headers {
    margin-bottom:1.5em;
}

h2, h3, ul, textarea {
    font-weight: normal;
    margin: 0 0 .5em 0;
}

p {
    font-size:.625em;
}

ul {
    padding: .5em 0 0 1em;
}

.all_caps {
    font-size:.75em;
}

/*
.white {
    color:white;
}
*/

.black {
    color:black;
}

a {
    text-decoration:underline;
    color:white;
}

/*CURSOR STYLING*/
.pointer {
    position:absolute;
    z-index:10;
    
    pointer-events: none;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    
    width:auto;
    height:2em;
    overflow-y:hidden;
    
    color:red;
/*    background:red;*/
    overflow:visible;
    
/*    keeps cursor centered even as font-size gets larger*/
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    
    text-align:center;
}

.pointer * {
    display:flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    width:100%;
}

#timer {
    font-size:10px;
    width: 15em;
    height:2em; 
    overflow:visible;
}

/*?? Wanted to add a flash animation to keywords in #timer as it updates (e.g. "click", "move mouse") to make instructions clearer, BUT this doesn't work bc #timer innerHTML is updated too rapidly for animation to run*/
/*
.flash {
    animation: flash 10s linear;
}

@keyframes flash {
  0%   {color: yellow;}
  50%  {color: red;}
  100% {color: yellow;}
}
*/

/*CONTAINER*/
.container {
   position:fixed;
    z-index:10;
    width:60vw;
    height:calc(100vh);
    
/*    centering positioned fixed element horizontally*/
    left: 0;
    right: 0;
    margin: auto;
    
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    
    overflow-y:auto;
}

/*QUESTIONNAIRE / GRID*/
.questionnaire, .about {
    margin: 20vh 0 10vh 0;
}

.insert, .insert input[type=text]::placeholder, .insert textarea::placeholder {
/*    color: red;*/
} 

.grid-container {
    width:100%;
    display: grid;
    grid-template-columns: 
      1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: .5em;
}

.grid-container .grid-item {
  border: 3px solid yellow;
  padding: .5em;
}

.grid-container .section {
    grid-column: 1 / 11;
    background:yellow;
    
/*    ??Is there a way to make the text a cutout onto the video backgrounds??*/
    color:black;
}

.grid-container .question {
  grid-column: 1 / 5;
}

.grid-container .response {
    grid-column: 5 / 11;
    
    background:rgba(255,255,255,0);
}

.grid-container .item-20 {
  grid-column: span 2;
}
.grid-container .item-30 {
  grid-column: span 3;
}
.grid-container .item-100 {
    grid-column: span 10;
}

.grid-container input[type=text], textarea {
    width: 100%;
    height:100%;
    padding: 0;
    margin:0;
    
    background:none;
    color:red;
    
    resize:none;
    overflow: auto;
    border:none;
}

.grid-container input[type=text]::placeholder, .grid-container textarea::placeholder {
    color: yellow;
}


/*ABOUT PAGE STYLING*/
.container_about {
    width:100vw;
    cursor:auto;
}

.container_about .about {
/*    To match the width:60vw  of .container*/
    width:60%;
}

.about_text, .about .section:not(:last-of-type) {
    margin-bottom:3em;
}

.about_sections .iframe {
    margin-bottom:1.5em;
}


/*IFRAMES*/
/*This is to get aspect ratio to stay constant even with resizing*/
.iframe {
    position:relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

iframe, .about video { 
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width:100%;
    height:100%;
    border:none;
}


/*VIDEOS*/

.clicks, .mouses, .scrolls, .types {
    transition: opacity .5s ease-in-out;
}

.mouses, .scrolls, .types {
    display:none;
}

.clicks {
    z-index:4;
}
.mouses {
    z-index:3;
}
.scrolls {
    z-index:2;
}
.types {
    z-index:1;
    opacity:0;
}

.videos {
    position:relative;
    display:flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    
    width:100vw;
    height:calc(100vh);
/*    background:blue;*/
}

.videos div {
    width:100%;
    height:100%;
    
    display:flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    
}

video {
    height: 100%; 
    width: 100%; 
    object-fit:cover;
/*    mix-blend-mode:multiply;*/
    
    transition: opacity .5s ease-in-out;
}

.show, .hide {
    position:absolute;
    left:0;
    top: 0;
}

.show {
    z-index:2;
    opacity:1;
}

.hide {
    z-index:1;
    opacity:0;
}

.top {
    z-index:3;
}

/*SCROLL GESTURE*/
#set-height {
    display:block;
}

#v0, #v1, #v2, #v3 {
    position:fixed;
    top: 0;
    left: 0;
}

/*AUDIO*/
.audios {
    display:none;
/*    max-height:20vh;*/
}



/*SCROLLBAR STYLING*/
/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.container, body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
